{% extends "base.html" %}

{% block content %}
	{% if current_user.username %}
	<h1>Your new Post</h1>
	<h1>{{ current_user.username }} posts:</h1>
	{% for post in current_user.posts.all() %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
	{% endif %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css')}}">

<h1>cat img</h1>
<div class="container">
  <img id="kitten" src="{{ cat_url }}">
  <img id="stache" src="https://i.imgur.com/cs6oPBX.png">
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/script.js')}}"></script>

{% endblock %}
