{% extends "base.html" %}

{% block content %}
	{% if current_user.username %}
	<h1>Hello, {{ current_user.username }}!</h1>
	{% else %}
	<h1>Hello, welcome to our cat planet!</h1>
	{% endif %}

	<!--------------------->
	<h2>petit message</h2>
	{% for name, message in posts.items() %}
	<div><p>{{ name }} says: <b>{{ message }}</b></p></div>
	{% endfor %}

	<!--------------------->
	<h2>broken list</h2>
	{% for name, phone in cats.items() %}
	<div><ul><li>{{ name }} : {{ phone }}</li></ul></div>
	{% endfor %}

	<!--------------------->
	<h2>xibao title</h2>

	<ul>
	  {% for name, phone in cats.items() %}
	  <li>{{ name }} : {{ phone }}</li>
	  {% endfor %}
	</ul>


{% endblock %}
