{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{ current_user.username }}!</h1>
	 <h1>Your Post</h1>
     <h1>{{ current_user.username }} posts:</h1>
     {% for post in current_user.posts.all() %}
     <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
     {% endfor %}


	<form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.content.label }}<br>
		{{ form.content(size=1000) }}
		{% for error in form.content.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
	  </p>
	  <p>{{ form.submit() }}</p>
	</form>

<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css')}}">

<h1>cat img</h1>
<button onclick="set_cat_img()">Click me to get a surprise!</button>

<div class="container">
  <img id="kitten" src="{{ cat_url }}">
  <img id="stache" src="https://i.imgur.com/cs6oPBX.png">
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/script.js')}}"></script>

<script>
      function change_img_src(response) {
          $('#kitten').attr("src", response);

      }
      function set_cat_img() {
          $.ajax({
              url: '/guaibaobao',
              type: 'GET',
              success: function(response) {
                  change_img_src(response)
              },
              error: function(error) {
                  console.log('ERROR')
              }
          });
      }

    </script>
{% endblock %}
