<html>
  <head>
  </head>
  <body>
	<h3>Awesome exemple made by Xibao</h3>
	<p>Total request: {{ nb_request }}</p>
	<p id="my-awesome-elem">{{ sentence }}</p>
	<button onClick="get_sentence()">CLick to get random sentence</button>
  </body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script>
	function update_sentence(response) {
		$('#my-awesome-elem').html(response)
	}

	function get_sentence() {
		$.ajax({
			url: '/get_random_sentence',
			type: 'GET',
			success: function(response) {
				update_sentence(response)
			},
			error: function(error) {
				console.log('ERROR')
			}
		});
	}
  </script>
</html>
