  html {
      background: #161616;
  }

  .container {
      width: 500px;
      height: 500px;
      position: relative;
      margin: 0 auto;
      border-radius: 20px;
      overflow: hidden;
  }
  #kitten {
      width: 500px;
      height: 500px;

  }
  #stache {
      position: absolute;
      left: 20px;
      top: 20px;
  }
